<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="sidebar">

    <div class="logo">
        🧠 AI Study Assistant
        <span>Smart Learning Hub</span>
    </div>

    <div class="menu">
        <a href="/dashboard">📊 Dashboard</a>
        <a href="/ai_tutor">🤖 AI Tutor</a>
        <a href="/quiz">📝 Quiz</a>
        <a class="active" href="/flashcards">📚 Flashcards</a>
        <a href="/notes">📒 Notes</a>
        <a href="/schedule">📅 Schedule</a>
        <a href="/history">📜 History</a>
        <a href="/upload">📂 Documents</a>
        <a href="/progress">📈 Progress</a>
        <a href="/logout">🚪 Logout</a>
    </div>

</div>

<div class="main-content">

    <div class="header">
        <h1>📚 Flashcards</h1>
        <p>Click card to reveal answer.</p>
    </div>

    <div class="flashcard-container">

        <div class="flashcard" onclick="flipCard()">

            <div id="cardText">
                What does CPU stand for?
            </div>

        </div>

        <br>

        <button onclick="prevCard()">⬅ Previous</button>
        <button onclick="nextCard()">Next ➡</button>

    </div>

</div>

<script>

const flashcards = [

{
question:"What does CPU stand for?",
answer:"Central Processing Unit"
},

{
question:"What is AI?",
answer:"Artificial Intelligence"
},

{
question:"What is RAM?",
answer:"Random Access Memory"
},

{
question:"What is HTML?",
answer:"HyperText Markup Language"
}

];

let current = 0;
let showingAnswer = false;

function displayCard(){

document.getElementById("cardText").innerHTML =
flashcards[current].question;

showingAnswer = false;

}

function flipCard(){

if(!showingAnswer){

document.getElementById("cardText").innerHTML =
flashcards[current].answer;

showingAnswer = true;

}
else{

document.getElementById("cardText").innerHTML =
flashcards[current].question;

showingAnswer = false;

}

}

function nextCard(){

current++;

if(current >= flashcards.length){
current = 0;
}

displayCard();

}

function prevCard(){

current--;

if(current < 0){
current = flashcards.length - 1;
}

displayCard();

}

displayCard();

</script>

</body>
</html>